* {
    p {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
}
.set-right-justified{
  text-align:right;
  .button{
    text-align:right;
    display:block;
    float: right;
    td a {
        font-weight: normal;
    }
    @media only screen and (max-width: #{$global-breakpoint}) {
        display: table;
    }
  }
}
.hotelfarmona {
    td.large-12.last, th.large-12.last, td.large-4.last, th.large-4.last {
        padding-right: $hotel-gutter;
    }
    td.large-12.first, th.large-12.first, td.large-4.first, th.large-4.first {
        padding-left: $hotel-gutter;
    }
    .reverse-row {
        td a {
            font-weight: normal;
        }
        td.large-6.last, th.large-6.last {
            padding-left: $hotel-gutter;
            padding-right: 15px;
        }
        td.large-6.first, th.large-6.first {
            padding-right: $hotel-gutter;
            padding-left: 15px;
        }
    }
    td.large-6.last, th.large-6.last {
        padding-right: $hotel-gutter;
    }
    td.large-6.first, th.large-6.first {
        padding-left: $hotel-gutter;
    }
    table.menu td.menu-item, table.menu th.menu-item {
        padding-left: 3px;
        padding-right: 3px;
    }
    .footerLogos {
        height: 45px;
        width: 96px;
    }
    h5 {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 20px;
        font: inherit;
        vertical-align: baseline;
        font-family: Arial, sans-serif;
        box-sizing: border-box;
        color: #464646;
        line-height: 21px;
        text-transform: uppercase;
        &.sub {
            color: #707070;
            font-size: 14px;
        }
    }
    p {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 14px;
        font: inherit;
        vertical-align: baseline;
        font-family: Arial,sans-serif;
        box-sizing: border-box;
        color: #707070;
        line-height: 16px;
    }
    .phonenumber {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 12px;
        font: inherit;
        vertical-align: baseline;
        font-family: Arial,sans-serif;
        box-sizing: border-box;
        margin-top: 14px;
        margin-bottom: 4px;
    }
    .emailaddress {
        &.spafarmona {
            a {
                color: $spafarmona;
            }
        }
        &.hotelfarmona {
            a {
                color: $hotel;
            }
        }
        &.magnifica {
            a {
                color: $magnifica;
            }
        }
        a {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 12px;
            font: inherit;
            vertical-align: baseline;
            font-family: Arial,sans-serif;
            box-sizing: border-box;
            text-decoration: none;
            font-weight: 400;
        }
    }
    .websiteurl {
        &.spafarmona {
            a {
                color: $spafarmona;
            }
        }
        &.hotelfarmona {
            a {
                color: $hotel;
            }
        }
        &.magnifica {
            a {
                color: $magnifica;
            }
        }
        a {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 12px;
            font: inherit;
            vertical-align: baseline;
            font-family: Arial,sans-serif;
            box-sizing: border-box;
            color: $spafarmona;
            font-weight: 700;
            text-decoration: none;
        }
    }
}
.farmona {
    .readMore {
        font-weight: bold !important;
        display: block;
        text-align: right;
        margin-top: 20px;
        span {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;
            img {
                margin-top: 0px;
                max-height: 14px;
                vertical-align: middle !important;
                width: 14px !important;
                height: 14px !important;
            }
        }
    }
    .halfImage {
        outline: none;
        text-decoration: none;
        clear: both;
        border: 0px;
        height: 131px;
        line-height: 100%;
        margin: 0px auto;
        width: 206px;
        max-width: 206px;
        &.profarmona {
            height: 125px;
            width: 164px;
        }
        &.spafarmona {
            height: 126px;
            width: 221px;
        }
    }
    .oneThreeImage {
        outline: none;
        text-decoration: none;
        clear: both;
        border: 0px;
        height: 162px;
        line-height: 100%;
        margin: 0px auto;
        width: 61px;
        max-width: 61px;
        &.profarmona {
            width: 99px;
            max-width: 99px;
            height: 102px;
        }
        &.spafarmona {
            height: 172px;
            width: 62px;
            max-width: 61px;
        }
    }
    .threeProducts {
        .productInfo {
            padding: 10px 0;
            h3 {
                font-size: 18px;
                line-height: 21px;
                color: rgb(227, 6, 19);
                font-weight: bold;
                margin: 0;
            }
            h4 {
                line-height: 16px;
                color: rgb(17, 17, 17);
                font-size: 14px;
                font-weight: bold;
                margin: 0;
            }
            h5 {
                font-size: 12px;
                line-height: 14px;
                color: rgb(17, 17, 17);
                font-weight: bold;
                margin: 0;
            }
        }
    }
    .firstBenefitRow {
        margin-bottom: 17px;
    }
    .benefitHeader {
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        color: rgb(17, 17, 17);
    }
    .benefitBorder,
    .noBenefitBorder {
        padding-bottom: 0 !important;
    }
    .noBenefitBorder {
        padding-left: 15px !important;
    }
    .benefitBorder {
        background-color: $ideepharm;
        width: 1px;
        height: 38px;
        margin: 0 auto;
        content: '';
        display: block;
        @media (max-width: 600px) {
            border-right: none;
        }
    }
    .benefit {
        display: table;
        margin: 0 auto;
        width: 220px;
        img {
            outline: none;
            text-decoration: none;
            clear: both;
            border: 0px;
            height: 38px;
            line-height: 100%;
            width: 38px;
            max-width: 38px;
            display: table-cell;
            vertical-align: middle;
            margin-right: 8px;
        }
        div {
            display: table-cell;
            vertical-align: middle;
            width: 180px;
            strong {
                color: rgb(17, 17, 17);
                font-size: 12px;
                line-height: 14px;
                margin: 0;
            }
            p {
                color: rgb(17, 17, 17);
                font-size: 10px;
                line-height: 12px;
                font-weight: bold;
                margin: 0;
            }
        }
    }
    .customHr {
        outline: 0;
        border-color: $ideepharm;
        border-top: 0;
        border-left: 0;
        &.profarmona {
            border-color: $profarmona;
        }
        &.spafarmona {
            border-color: $spafarmona;
        }
        &.hotelfarmona {
            border-color: $hotel;
        }
        &.dark {
            border-color: #464646;
        }
    }
    .startBuy {
        a {
            display: block;
            text-decoration: none;
            -webkit-text-size-adjust: none;
            text-align: center;
            background-color: transparent;
            background-image: url('https://marketing-image-production.s3.amazonaws.com/uploads/f376531556f6733f65f519c16e2c92643eaf0e380f967b297e6164ab406ff13fe23c7b62ac2832658c59262c833992747f9aa8dcaada0b0324f9b8eaf1e2dfcd.png');
            width: 223px;
            height: 49px;
            background-size: cover;
            color: #ffffff;
            margin: 20px auto 0;
            font-size: 18px;
            line-height: 49px;
            &.profarmona {
                background-image: url('https://marketing-image-production.s3.amazonaws.com/uploads/e0bde5bb17d87272bc45e1d367e1652399a2d4ef771a78dcc5ba5fab2470019d059002d58561c8b7b2dbaa602c4eace389bcf45499a2f91f066901efdb4ea6fb.png');
            }
            &.spafarmona {
                background-image: url('https://app.userengage.io/media/uploads/5/button-bg-2x.png');
            }
            span {
                font-weight: 900;
                margin-right: 33px;
            }
        }
    }
    .lightGrayBg {
        background-color: #ebebeb;
        padding: 0 5px;
        margin-top: 10px;
        img {
            max-height: 26px;
            margin: 0;
            line-height: 36px;
            vertical-align: middle !important;
            width: 26px !important;
            height: 26px !important;
            display: inline-block;
        }
        p {
            display: inline-block;
            font-size: 13px;
            margin-left: 5px;
            vertical-align: middle !important;
            line-height: 36px;
            font-weight: bold;
            color: #111111;
            margin: 0;
            margin-bottom: 0;
            margin-right: 0;
            margin-top: 0;
        }
        .large-6 {
            padding-bottom: 0 !important;
        }
        .moveMeCenter {
            @media (max-width: 600px) {
                th {
                    text-align: center;
                }
            }
        }
        .moveMeRight {
            th {
                text-align: center;
            }
        }
    }
    .darkGrayBg {
        background-color: #cccccc;
        padding: 0 5px;
        img {
            max-height: 26px;
            margin: 0;
            line-height: 36px;
            vertical-align: middle !important;
            width: 26px !important;
            height: 26px !important;
            display: inline-block;
        }
        p {
            display: inline-block;
            font-size: 13px;
            margin-left: 5px;
            vertical-align: middle !important;
            line-height: 36px;
            font-weight: bold;
            color: #111111;
            margin: 0;
            margin-bottom: 0;
            margin-right: 0;
            margin-top: 0;
        }
        .large-12 {
            padding-bottom: 0 !important;
        }
        .moveMeCenter {
            th {
                text-align: center;
            }
        }
    }
    &.socials {
        @media only screen and (max-width: 630px) {
            table.menu td, table.menu th {
                width: auto !important;
                display: table-cell !important;
            }
        }
        .socialIcon {
            outline: none;
            text-decoration: none;
            clear: both;
            border: none;
            height: 31px;
            line-height: 100%;
            max-width: 31px !important;
            width: 32px;
            margin: 0 auto;
        }
    }
    &.footer {
        p {
            font-size: 8px;
            line-height: 9px;
            color: rgb(86, 86, 86);
            text-align: center;
        }
    }
    .profarmona {
        .small-12 {
            & > table {
                h2 {
                    background-color: $profarmona !important;
                    margin: 0;
                    font-size: 26px;
                    line-height: 39px;
                    color: #fff;
                    font-weight: bold;
                    margin-bottom: 0;
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 0;
                }
            }
        }
        .benefitBorder {
            background-color: $profarmona;
        }
        .readMore {
            color: $profarmona;
        }
    }
    .spafarmona {
        .small-12 {
            & > table {
                h2 {
                    background-color: $spafarmona !important;
                    margin: 0;
                    font-size: 26px;
                    line-height: 39px;
                    color: #fff;
                    font-weight: bold;
                    margin-bottom: 0;
                    margin-left: 0;
                    margin-right: 0;
                    margin-top: 0;
                }
            }
        }
        .benefitBorder {
            background-color: $spafarmona;
        }
        .readMore {
            color: $spafarmona;
        }
    }
}

.headerPadded {
    .small-12 {
        padding-top: $global-gutter;
        padding-bottom: $global-gutter;
    }
}

.themeColored {
    .small-12 {
        & > table {
            background-color: $ideepharm !important;
            h2 {
                margin: 0;
                font-size: 26px;
                line-height: 39px;
                color: #fff;
                font-weight: bold;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                margin-top: 0;
            }
        }
    }
}

