---
subject: Pro Farmona
---

<container class="headerPadded hotelfarmona">
  <row>
    <columns small="12" class="text-center">
      <center>
        <img src="https://media.userengage.io/userengage/uploads/5/farmonahotellogo.jpg">
      </center>
    </columns>
  </row>
  <row>
    <columns small="12">
      <div>
        <center>
          <menu>
            <item href="www.hotelfarmona.pl">HOTEL</item>
            <item class="show-for-large">|</item>
            <item href="www.spafarmona.pl">SPA</item>
            <item class="show-for-large">|</item>
            <item href="www.magnifica.pl">RESTAURACJA</item>
          </menu>
        </center>
      </div>
    </columns> 
  </row>
</container>

<container class="farmona hotelfarmona">

  <spacer size="16"></spacer>

  <row>
    <columns small="12">
      <img src="https://media.userengage.io/userengage/uploads/5/baner.jpg" alt="">
    </columns>
  </row>
  <row>
    <columns small="12">
      <hr class="customHr hotelfarmona">
    </columns>
  </row>

</container>

<container class="hotelfarmona">
  <spacer size="40"></spacer>
  <row>
    <columns small="12" large="6">
      <img class="small-float-center" src="https://media.userengage.io/userengage/uploads/5/img1.jpg" alt="">
    </columns>
    <columns small="12" large="6">
      <h5 class="small-text-center">SZCZĘŚLIWA MAMA</h5>
      <h5 class="sub small-text-center">PODZIĘKUJ MAMIE PIĘKNYM GESTEM</h5>
      <p class="small-text-center">Z uczuciami miłości i wdzięczności podaruj mamie chwile pielegnacji i odprężenia.</p>
      <spacer size="30"></spacer>
      <row>
        <columns small="12" large="12" class="set-right-justified">
          <button class="small-float-center small-expanded" href="#">ODKRYJ</button>
        </columns>
      </row>
    </columns>
  </row>
  <spacer size="50"></spacer>
  <row dir="rtl" class="reverse-row">
    <columns small="12" large="6">
      <img class="float-right small-float-center" src="https://media.userengage.io/userengage/uploads/5/img2.jpg" alt="">
    </columns>
    <columns small="12" large="6" dir="ltr">
      <h5 class="small-text-center">SZCZĘŚLIWA MAMA</h5>
      <h5 class="sub small-text-center">PODZIĘKUJ MAMIE PIĘKNYM GESTEM</h5>
      <p class="small-text-center">Z uczuciami miłości i wdzięczności podaruj mamie chwile pielegnacji i odprężenia.</p>
      <spacer size="30"></spacer>
      <button class="small-float-center small-expanded" href="#">ODKRYJ</button>
    </columns>
  </row>
  <spacer size="50"></spacer>
  <row>
    <columns small="12" large="6">
      <img class="small-float-center" src="https://media.userengage.io/userengage/uploads/5/img3.jpg" alt="">
    </columns>
    <columns small="12" large="6">
      <h5 class="small-text-center">SZCZĘŚLIWA MAMA</h5>
      <h5 class="sub small-text-center">PODZIĘKUJ MAMIE PIĘKNYM GESTEM</h5>
      <p class="small-text-center">Z uczuciami miłości i wdzięczności podaruj mamie chwile pielegnacji i odprężenia.</p>
      <spacer size="30"></spacer>
      <row>
        <columns small="12" large="12" class="set-right-justified">
          <button class="small-float-center small-expanded" href="#">ODKRYJ</button>
        </columns>
      </row>
    </columns>
  </row>
</container>

<container class="farmona hotelfarmona">
  <row>
    <columns small="12">
      <hr class="customHr hotelfarmona">
    </columns>
  </row>

  <row>
    <columns small="12" large="4">
      <center>
        <img class="footerLogos" src="https://media.userengage.io/userengage/uploads/5/farmonaspalogo.jpg" alt="">
        <div class="phonenumber spafarmona">tel. 12 252 70 20</div>
        <div class="emailaddress spafarmona"><a href="mailto:spa@spafarmona.pl">spa@spafarmona.pl</a></div>
        <div class="websiteurl spafarmona"><a href="www.spafarmona.pl">www.spafarmona.pl</a></div>
        <menu>
          <item href="#">
            <img src="https://media.userengage.io/userengage/uploads/5/spafacebook.jpg" alt="">
          </item>
          <item href="#">
            <img src="https://media.userengage.io/userengage/uploads/5/spagoogle.jpg" alt="">
          </item>
        </menu>
      </center>
    </columns>
    <columns small="12" large="4">
      <center>
        <img class="footerLogos" src="https://media.userengage.io/userengage/uploads/5/farmonahotellogo.jpg" alt="">
        <div class="phonenumber hotelfarmona">tel. 12 252 70 70</div>
        <div class="emailaddress hotelfarmona"><a href="mailto:recepcja@hotelfarmona.pl">recepcja@hotelfarmona.pl</a></div>
        <div class="websiteurl hotelfarmona"><a href="www.hotelfarmona.pl">www.hotelfarmona.pl</a></div>
        <menu>
          <item href="#">
            <img src="https://media.userengage.io/userengage/uploads/5/hotelfacebook.jpg" alt="">
          </item>
          <item href="#">
            <img src="https://media.userengage.io/userengage/uploads/5/hotelgoogle.jpg" alt="">
          </item>
          <item href="#">
            <img src="https://media.userengage.io/userengage/uploads/5/hoteltripadvisor.jpg" alt="">
          </item>
        </menu>
      </center>
    </columns>
    <columns small="12" large="4">
      <center>
        <img class="footerLogos" src="https://media.userengage.io/userengage/uploads/5/farmonamagnificalogo.jpg" alt="">
        <div class="phonenumber magnifica">tel. 12 252 70 10</div>
        <div class="emailaddress magnifica"><a href="mailto:restauracja@magnifica.pl">restauracja@magnifica.pl</a></div>
        <div class="websiteurl magnifica"><a href="www.magnifica.pl">www.magnifica.pl</a></div>
        <menu>
          <item href="#">
            <img src="https://media.userengage.io/userengage/uploads/5/magnificafacebook.jpg" alt="">
          </item>
          <item href="#">
            <img src="https://media.userengage.io/userengage/uploads/5/magnificagoogle.jpg" alt="">
          </item>
          <item href="#">
            <img src="https://media.userengage.io/userengage/uploads/5/magnificatripadvisor.jpg" alt="">
          </item>
        </menu>
      </center>
    </columns>
  </row>
</container>
