---
subject: Ideepharm
---

<container class="headerPadded">
  <row>
    <columns small="12">
      <img src="https://marketing-image-production.s3.amazonaws.com/uploads/9d02582e097e62ec995c55a3eac9797d9b33c64d3a4cd10b4d293f8ab3f26e87ef0cfc21fed18e7b3f5d13b5ad54b4ac9ea2d12dd0e6eb864a437f64fdfef2f0.png">
    </columns>
  </row>
</container>

<container>

  <spacer size="16"></spacer>

  <row>
    <columns small="12">
      <img src="https://marketing-image-production.s3.amazonaws.com/uploads/b823b94fc3196e5fce927e8acd1a1fade53df2f78c41679422f00f427da490d56e16250be3ee463a55850f59355b7da58a626e29cb365e60da54481e63805396.png" alt="">
    </columns>
  </row>

</container>

<container class="farmona">
  <row class="themeColored">
    <columns small="12">
      <h2 class="text-center">AKTUALNOŚCI</h2>
    </columns>
  </row>
  <row>
    <columns small="12" large="6">
      <p>Złote perły rynku kosmetycznego dla Herbal Care.</p>
      <a class="readMore" href="#"><span>czytaj więcej</span> <span><img src="https://marketing-image-production.s3.amazonaws.com/uploads/91a0993e074ce727390063ca97e7cbd4a722784b68df4be1794924f2cbe7a250a862e99216b9b92531156f03bfd261068797b8d316c9fa396df433c052e15c9f.png"></span></a>
    </columns>
    <columns small="12" large="6">
      <img class="halfImage" src="https://marketing-image-production.s3.amazonaws.com/uploads/4bca13e8f00d3de3cfc6d4c1d5df6d6605b2c988fee261676292f46d20330845535a2a29a39a88c72b417833c6e18a62806da3e4e8e2a5f75af8d5e432aa2352.png">
    </columns>
  </row>
</container>

<container class="farmona">
  <row class="themeColored">
    <columns small="12">
      <h2 class="text-center">PRODUKTY TYGODNIA</h2>
    </columns>
  </row>
  <row class="threeProducts">
    <columns small="12" large="4">
      <img class="oneThreeImage" src="https://marketing-image-production.s3.amazonaws.com/uploads/d75478a1a32aacd59efd0cddf6da11e0dc30e2d224be7bdd6845cebf2bd7b4ed1d6650b1cc2b3c65536bfead73b2518f503c515b75ac8202e684a8926b7396c6.png">
      <div class="productInfo">
        <h4 class="text-center">Szampon Radical</h4>
        <h5 class="text-center">do włosów zniszczonych</h5>
        <h3 class="text-center">8,90zł</h3>
      </div>
    </columns>
    <columns small="12" large="4">
      <img class="oneThreeImage" src="https://marketing-image-production.s3.amazonaws.com/uploads/d75478a1a32aacd59efd0cddf6da11e0dc30e2d224be7bdd6845cebf2bd7b4ed1d6650b1cc2b3c65536bfead73b2518f503c515b75ac8202e684a8926b7396c6.png">
      <div class="productInfo">
        <h4 class="text-center">Szampon Radical</h4>
        <h5 class="text-center">do włosów zniszczonych</h5>
        <h3 class="text-center">8,90zł</h3>
      </div>
    </columns>
    <columns small="12" large="4">
      <img class="oneThreeImage" src="https://marketing-image-production.s3.amazonaws.com/uploads/d75478a1a32aacd59efd0cddf6da11e0dc30e2d224be7bdd6845cebf2bd7b4ed1d6650b1cc2b3c65536bfead73b2518f503c515b75ac8202e684a8926b7396c6.png">
      <div class="productInfo">
        <h4 class="text-center">Szampon Radical</h4>
        <h5 class="text-center">do włosów zniszczonych</h5>
        <h3 class="text-center">8,90zł</h3>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12">
      <h2 class="text-center benefitHeader">korzyści zakupów w sklepie internetowym Farmona</h2>
    </columns>
  </row>
  <row>
    <columns small="12" large="5">
      <div class="benefit">
        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/fe18404acaa1c39394efd9ded0befe3efa791cfe3f9a4a416be69e412c585353c7c216791c0bc7d6a61db06181e6518ec43fcb5996f0bcb5bf1b1c7fa4073c73.png">
        <div class="benefitText">
          <strong>DARMOWA DOSTAWA DPD</strong>
          <p>Przy zamówieniu za min. 199zł!</p>
        </div>
      </div>
    </columns>
    <columns small="0" large="2" class="show-for-large">
      <div class="benefitBorder show-for-large"></div>
    </columns>
    <columns small="12" large="5">
      <div class="benefit">
        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/fff1597a7c7a328bc0b5a37d9851abb9f348c564480b6a6f1e679c40e0c597f2f4c078cba848ce813f5bec0d5b512db9977deeb379893f88db92c527bdebb723.png">
        <div class="benefitText">
          <strong>NISKIE CENY KOSMETYKÓW</strong>
          <p>gwarancja dobrych cen</p>
        </div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12">
      <hr class="customHr">
    </columns>
  </row>
  <row>
    <columns small="12" large="5">
      <div class="benefit">
        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/7090ab75884cf247e65aece1d6f9b87851e6632bc3bb662ca14c86579dd3a4370b14bd745c26bffd9d338420882237622ebd54e076fa8049089ed971453d5d33.png">
        <div class="benefitText">
          <strong>BEZPIECZNE ZAKUPY</strong>
          <p>kupuj i płac bezpiecznie</p>
        </div>
      </div>
    </columns>
    <columns small="0" large="2" class="show-for-large">
      <div class="benefitBorder show-for-large"></div>
    </columns>
    <columns small="12" large="5">
      <div class="benefit">
        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/0e4c3cfddb499fe9787e69f4cc10092f32e23b8e6b9fbd713fed38e76c49884df092788a70c88a7615f8f6b7f5acb39eace3f6697bba1b7a53d5c7099fab68d4.png">
        <div class="benefitText">
          <strong>DOSTAWA W 2-3 DNI</strong>
          <p>od złożenia zamówienia</p>
        </div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12">
      <div class="startBuy text-center">
        <a href="#"><span>ZACZNIJ ZAKUPY</span></a>
      </div>
    </columns>
  </row>
</container>

<container class="contactUs farmona">
  <row>
    <columns small="12" large="8">
      <div class="lightGrayBg">
        <row>
          <columns small="12" large="6" class="moveMeCenter">
            <img class="farmona-phone" src="https://app.userengage.io/media/uploads/1125/phone.jpg">
            <p>ZADZWOŃ DO NAS +48 724 440 028</p>
          </columns>
          <columns small="12" large="6" class="moveMeRight">
            <img class="farmona-email" src="https://app.userengage.io/media/uploads/1125/email-2x.png">
            <p>sklep@farmona.pl</p>
          </columns>
        </row>
      </div>
      <div class="darkGrayBg">
        <row>
          <columns small="12" large="12" class="moveMeCenter">
            <p>ul. Jugowicka 10, 30-443 Kraków</p>
          </columns>
        </row>
      </div>
    </columns>
  </row>
</container>

<container class="farmona socials">
  <row>
    <columns small="12" large="3" class="large-offset-3">
      <menu>
        <item href="https://www.facebook.com/" target="_blank" title="Facebook">
          <img class="socialIcon" src="https://app.userengage.io/media/uploads/1125/facebook-2x.png">
        </item>
        <item href="https://plus.google.com/" target="_blank" title="Google+">
          <img class="socialIcon" src="https://app.userengage.io/media/uploads/1125/googleplus-2x.png">
        </item>
        <item href="https://www.pinterest.com/" target="_blank" title="Pinterest">
          <img class="socialIcon" src="https://app.userengage.io/media/uploads/1125/pinterest-2x.png">
        </item>
        <item href="https://instagram.com/" target="_blank" title="Instagram">
          <img class="socialIcon" src="https://app.userengage.io/media/uploads/1125/instagram-2x.png">
        </item>
      </menu>
    </columns>
    <columns small="3" large="3">
    <th class="expander"></th>
    </columns>
  </row>
  <row>
    <columns small="12">
      <hr class="customHr dark">
    </columns>
  </row>
</container>

<container class="farmona footer">
  <row>
    <columns small="12">
      <p>Powyższy mail został wysłany na zlecenie Nadawcy przy użyciu Platformy <a href="#" style="color:#0054a6;text-decoration: underline;" target="_blank">Tide</a> i modułu <a href="#" style="color:#0054a6;text-decoration: underline;" target="_blank">TideEmail</a> do bazy adresów e-mail dostarczonej przez Nadawcę. Jeżeli chcą Państwo wypisać się z listy mailingowej Nadawcy prosimy kliknąć <a href="#" style="color:#0054a6;text-decoration: underline;" target="_blank">tutaj</a> a nastąpi automatyczne wyrejestrowanie. Jeżeli uważają Państwo, iż nastąpiło nadużycie prosimy o kontakt z Nadawcą.</p>
    </columns>
  </row>
</container>
