---
layout: index-layout
subject: My Email Templates
---

<spacer size="16"></spacer>

<container>

  <spacer size="24"></spacer>
  
  <row>
    <columns small="12">

    <p class="lead">Hi there!</p>
    <p style="color: #484848; line-height: 1.5;">Thanks for downloading <a href="http://foundation.zurb.com/emails/docs/">Foundation for Emails!</a> Your days of coding up painful HTML emails are officially over. You’ll soon be cranking out some slick, responsive emails in no time! To help get you up and running, we've put together 11 templates for the most common email use cases including newsletters, transactional emails, and marketing blasts. Feel free to customize them to your hearts content.</p>

    <spacer size="16"></spacer>

    <center>
      <menu class="vertical">
        <item href="{{root}}ideepharm.html" target="_blank">Ideepharm</item>
        <item href="{{root}}profarmona.html" target="_blank">Pro Farmona</item>
        <item href="{{root}}spafarmona.html" target="_blank">Spa Farmona</item>
        <item href="{{root}}hotelfarmona.html" target="_blank">Hotel Farmona</item>
      </menu>
    </center>

    <spacer size="16"></spacer>

    <p>Happy Coding,</p>
    <p>The Foundation Team</p>


    <spacer size="16"></spacer>

    </columns>
  </row>
</container>

<spacer size="16"></spacer>

<center>
  <small>Keep on keepin' on. &lt;3 <a style="color: #cacaca; text-decoration: underline;" href="http://zurb.com/">ZURB</a> </small>
</center>

<spacer size="16"></spacer>

