---
subject: Pro Farmona
---

<container class="headerPadded">
  <row>
    <columns small="12">
      <img src="https://marketing-image-production.s3.amazonaws.com/uploads/c36ea60fa5eeb0f8c1456cc49bb74fb85f2c1e2c8240c267fb48205f345221642eefc62c7eba49b4c8d1d05da098da5b604bbaaf3bc853d48c5cfc021c28d3a3.png">
    </columns>
  </row>
</container>

<container>

  <spacer size="16"></spacer>

  <row>
    <columns small="12">
      <img src="https://marketing-image-production.s3.amazonaws.com/uploads/01ae73e289718f7ac83ae96dfaa0b24edf0e459f8c599934a160c40915871dbf015868700096099f263234a943d54fa47bd0133f6e40ab89a0817266902a4a2f.png" alt="">
    </columns>
  </row>

</container>

<container class="farmona">
  <row class="profarmona">
    <columns small="12">
      <h2 class="text-center">AKTUALNOŚCI</h2>
    </columns>
  </row>
  <row>
    <columns small="12" large="6" class="profarmona">
      <p>Złote perły rynku kosmetycznego dla Herbal Care.</p>
      <a class="readMore" href="#"><span>czytaj więcej</span> <span><img src="https://marketing-image-production.s3.amazonaws.com/uploads/b7ea0c03d175022ed946d4f640c76b11108c3d274c2d5bd5acf882ebe72085077e3a35e64500115a1936cdb39f2bfe4d5331a130c1ad0f72e227014808a05811.png"></span></a>
    </columns>
    <columns small="12" large="6">
      <img class="halfImage profarmona" src="https://marketing-image-production.s3.amazonaws.com/uploads/02acd0da3623a8675fdc23f18397869ab03c45b1583f63d5a5671fa5e35a0e0a5472ba00fac1516a44266d96a92688fb98ddaec285dc733d9ebaf0d50fb83657.png">
    </columns>
  </row>
</container>

<container class="farmona">
  <row class="profarmona">
    <columns small="12">
      <h2 class="text-center">PRODUKTY TYGODNIA</h2>
    </columns>
  </row>
  <row class="threeProducts">
    <columns small="12" large="4">
      <img class="oneThreeImage profarmona" src="https://marketing-image-production.s3.amazonaws.com/uploads/d471cb623038720647d1468a07308e41899ba3b26261e6e08af9b896f642064e0ce045b7796e230b2fde1fb4015158cdb4b317d0691b139c10fe6d671f1a81e8.png">
      <div class="productInfo">
        <h4 class="text-center">Szampon Radical</h4>
        <h5 class="text-center">do włosów zniszczonych</h5>
        <h3 class="text-center">8,90zł</h3>
      </div>
    </columns>
    <columns small="12" large="4">
      <img class="oneThreeImage profarmona" src="https://marketing-image-production.s3.amazonaws.com/uploads/d471cb623038720647d1468a07308e41899ba3b26261e6e08af9b896f642064e0ce045b7796e230b2fde1fb4015158cdb4b317d0691b139c10fe6d671f1a81e8.png">
      <div class="productInfo">
        <h4 class="text-center">Szampon Radical</h4>
        <h5 class="text-center">do włosów zniszczonych</h5>
        <h3 class="text-center">8,90zł</h3>
      </div>
    </columns>
    <columns small="12" large="4">
      <img class="oneThreeImage profarmona" src="https://marketing-image-production.s3.amazonaws.com/uploads/d471cb623038720647d1468a07308e41899ba3b26261e6e08af9b896f642064e0ce045b7796e230b2fde1fb4015158cdb4b317d0691b139c10fe6d671f1a81e8.png">
      <div class="productInfo">
        <h4 class="text-center">Szampon Radical</h4>
        <h5 class="text-center">do włosów zniszczonych</h5>
        <h3 class="text-center">8,90zł</h3>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12">
      <h2 class="text-center benefitHeader">korzyści zakupów w sklepie internetowym Farmona</h2>
    </columns>
  </row>
  <row class="profarmona">
    <columns small="12" large="5">
      <div class="benefit">
        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/d7ad87b5cdf8f7df40b1d70e8689758141504e1ff8fa59a74a94510486c96309e5f82a6fede0283df53186d00652879ce32ff0b42b0b8d3389af6202c6b1d28e.png">
        <div class="benefitText">
          <strong>DARMOWA DOSTAWA DPD</strong>
          <p>Przy zamówieniu za min. 199zł!</p>
        </div>
      </div>
    </columns>
    <columns small="0" large="2" class="show-for-large">
      <div class="benefitBorder show-for-large"></div>
    </columns>
    <columns small="12" large="5">
      <div class="benefit">
        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/b202a4b60e707d0678743f8053adf1b44d8a81254a46b358c8ce7aee40bc2ea9bbd901c4dd7157bee32c4f8b9ad3ae236d45822ef6ef6b93d3ecc75d537c3a65.png">
        <div class="benefitText">
          <strong>NISKIE CENY KOSMETYKÓW</strong>
          <p>gwarancja dobrych cen</p>
        </div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12">
      <hr class="customHr profarmona">
    </columns>
  </row>
  <row class="profarmona">
    <columns small="12" large="5">
      <div class="benefit">
        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/db92624cc9535adc11a417589d7fc911e6d6ac923fcd0b3a8b936a3791ae662dfb38c187c4855513e9de8fb4c884ab3364615f7c9dc4e467f712aa4e809dcb86.png">
        <div class="benefitText">
          <strong>BEZPIECZNE ZAKUPY</strong>
          <p>kupuj i płac bezpiecznie</p>
        </div>
      </div>
    </columns>
    <columns small="0" large="2" class="show-for-large">
      <div class="benefitBorder show-for-large"></div>
    </columns>
    <columns small="12" large="5">
      <div class="benefit">
        <img src="https://marketing-image-production.s3.amazonaws.com/uploads/a2bd5397e42fbf1d06909086992eda219d0896cfe79132ab4cde9cc9aea5823370b28245d5545578a1c5a3637800d0e5eff0dbf84719cbc964159fa35fa48ca8.png">
        <div class="benefitText">
          <strong>DOSTAWA W 2-3 DNI</strong>
          <p>od złożenia zamówienia</p>
        </div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12">
      <div class="startBuy text-center">
        <a href="#" class="profarmona"><span>ZACZNIJ ZAKUPY</span></a>
      </div>
    </columns>
  </row>
</container>

<container class="contactUs farmona">
  <row>
    <columns small="12" large="8">
      <div class="lightGrayBg">
        <row>
          <columns small="12" large="6" class="moveMeCenter">
            <img class="farmona-phone" src="https://app.userengage.io/media/uploads/1125/phone.jpg">
            <p>ZADZWOŃ DO NAS +48 724 440 028</p>
          </columns>
          <columns small="12" large="6" class="moveMeRight">
            <img class="farmona-email" src="https://app.userengage.io/media/uploads/1125/email-2x.png">
            <p>sklep@farmona.pl</p>
          </columns>
        </row>
      </div>
      <div class="darkGrayBg">
        <row>
          <columns small="12" large="12" class="moveMeCenter">
            <p>ul. Jugowicka 10, 30-443 Kraków</p>
          </columns>
        </row>
      </div>
    </columns>
  </row>
</container>

<container class="farmona socials">
  <row>
    <columns small="12" large="3" class="large-offset-3">
      <menu>
        <item href="https://www.facebook.com/" target="_blank" title="Facebook">
          <img class="socialIcon" src="https://app.userengage.io/media/uploads/1125/facebook-2x.png">
        </item>
        <item href="https://plus.google.com/" target="_blank" title="Google+">
          <img class="socialIcon" src="https://app.userengage.io/media/uploads/1125/googleplus-2x.png">
        </item>
        <item href="https://www.pinterest.com/" target="_blank" title="Pinterest">
          <img class="socialIcon" src="https://app.userengage.io/media/uploads/1125/pinterest-2x.png">
        </item>
        <item href="https://instagram.com/" target="_blank" title="Instagram">
          <img class="socialIcon" src="https://app.userengage.io/media/uploads/1125/instagram-2x.png">
        </item>
      </menu>
    </columns>
    <columns small="3" large="3">
    <th class="expander"></th>
    </columns>
  </row>
  <row>
    <columns small="12">
      <hr class="customHr dark">
    </columns>
  </row>
</container>

<container class="farmona footer">
  <row>
    <columns small="12">
      <p>Powyższy mail został wysłany na zlecenie Nadawcy przy użyciu Platformy <a href="https://userengage.io/" style="color:#0054a6;text-decoration: underline;" target="_blank">UserEngage</a> do bazy adresów e-mail dostarczonej przez Nadawcę. Jeżeli chcą Państwo wypisać się z listy mailingowej Nadawcy prosimy kliknąć <a id="UE_unsubscribe" href="#" style="color:#0054a6;text-decoration: underline;" target="_blank">tutaj</a> a nastąpi automatyczne wyrejestrowanie. Jeżeli uważają Państwo, iż nastąpiło nadużycie prosimy o kontakt z Nadawcą.</p>
    </columns>
  </row>
</container>
