---
subject: Spa Farmona
---

<container class="headerPadded">
  <row>
    <columns small="12">
      <img src="https://app.userengage.io/media/uploads/5/farmona-logo.jpg">
    </columns>
  </row>
</container>

<container>

  <spacer size="16"></spacer>

  <row>
    <columns small="12">
      <img src="https://app.userengage.io/media/uploads/5/banner-top.jpg" alt="">
    </columns>
  </row>

</container>

<container class="farmona">
  <row class="spafarmona">
    <columns small="12">
      <h2 class="text-center">AKTUALNOŚCI</h2>
    </columns>
  </row>
  <row>
    <columns small="12" large="6" class="spafarmona">
      <p>Złote perły rynku kosmetycznego dla Herbal Care.</p>
      <a class="readMore" href="#"><span>czytaj więcej</span> <span><img src="https://app.userengage.io/media/uploads/5/arrow-2x.png"></span></a>
    </columns>
    <columns small="12" large="6">
      <img class="halfImage spafarmona" src="https://app.userengage.io/media/uploads/5/aktualnosci-img.jpg">
    </columns>
  </row>
</container>

<container class="farmona">
  <row class="spafarmona">
    <columns small="12">
      <h2 class="text-center">PRODUKTY TYGODNIA</h2>
    </columns>
  </row>
  <row class="threeProducts">
    <columns small="12" large="4">
      <img class="oneThreeImage spafarmona" src="https://app.userengage.io/media/uploads/5/szampon.jpg">
      <div class="productInfo">
        <h4 class="text-center">Szampon Radical</h4>
        <h5 class="text-center">do włosów zniszczonych</h5>
        <h3 class="text-center">8,90zł</h3>
      </div>
    </columns>
    <columns small="12" large="4">
      <img class="oneThreeImage spafarmona" src="https://app.userengage.io/media/uploads/5/szampon.jpg">
      <div class="productInfo">
        <h4 class="text-center">Szampon Radical</h4>
        <h5 class="text-center">do włosów zniszczonych</h5>
        <h3 class="text-center">8,90zł</h3>
      </div>
    </columns>
    <columns small="12" large="4">
      <img class="oneThreeImage spafarmona" src="https://app.userengage.io/media/uploads/5/szampon.jpg">
      <div class="productInfo">
        <h4 class="text-center">Szampon Radical</h4>
        <h5 class="text-center">do włosów zniszczonych</h5>
        <h3 class="text-center">8,90zł</h3>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12">
      <h2 class="text-center benefitHeader">korzyści zakupów w sklepie internetowym Farmona</h2>
    </columns>
  </row>
  <row class="spafarmona">
    <columns small="12" large="5">
      <div class="benefit">
        <img src="https://app.userengage.io/media/uploads/5/0zl.jpg">
        <div class="benefitText">
          <strong>DARMOWA DOSTAWA DPD</strong>
          <p>Przy zamówieniu za min. 199zł!</p>
        </div>
      </div>
    </columns>
    <columns small="0" large="2" class="show-for-large">
      <div class="benefitBorder show-for-large"></div>
    </columns>
    <columns small="12" large="5">
      <div class="benefit">
        <img src="https://app.userengage.io/media/uploads/5/discount.jpg">
        <div class="benefitText">
          <strong>NISKIE CENY KOSMETYKÓW</strong>
          <p>gwarancja dobrych cen</p>
        </div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12">
      <hr class="customHr spafarmona">
    </columns>
  </row>
  <row class="spafarmona">
    <columns small="12" large="5">
      <div class="benefit">
        <img src="https://app.userengage.io/media/uploads/5/safety.jpg">
        <div class="benefitText">
          <strong>BEZPIECZNE ZAKUPY</strong>
          <p>kupuj i płac bezpiecznie</p>
        </div>
      </div>
    </columns>
    <columns small="0" large="2" class="show-for-large">
      <div class="benefitBorder show-for-large"></div>
    </columns>
    <columns small="12" large="5">
      <div class="benefit">
        <img src="https://app.userengage.io/media/uploads/5/delivery.jpg">
        <div class="benefitText">
          <strong>DOSTAWA W 2-3 DNI</strong>
          <p>od złożenia zamówienia</p>
        </div>
      </div>
    </columns>
  </row>
  <row>
    <columns small="12">
      <div class="startBuy text-center">
        <a href="#" class="spafarmona"><span>ZACZNIJ ZAKUPY</span></a>
      </div>
    </columns>
  </row>
</container>

<container class="contactUs farmona">
  <row>
    <columns small="12" large="8">
      <div class="lightGrayBg">
        <row>
          <columns small="12" large="6" class="moveMeCenter">
            <img class="farmona-phone" src="https://app.userengage.io/media/uploads/1125/phone.jpg">
            <p>ZADZWOŃ DO NAS +48 724 440 028</p>
          </columns>
          <columns small="12" large="6" class="moveMeRight">
            <img class="farmona-email" src="https://app.userengage.io/media/uploads/1125/email-2x.png">
            <p>sklep@farmona.pl</p>
          </columns>
        </row>
      </div>
      <div class="darkGrayBg">
        <row>
          <columns small="12" large="12" class="moveMeCenter">
            <p>ul. Jugowicka 10, 30-443 Kraków</p>
          </columns>
        </row>
      </div>
    </columns>
  </row>
</container>

<container class="farmona socials">
  <row>
    <columns small="12" large="3" class="large-offset-3">
      <menu>
        <item href="https://www.facebook.com/" target="_blank" title="Facebook">
          <img class="socialIcon" src="https://app.userengage.io/media/uploads/1125/facebook-2x.png">
        </item>
        <item href="https://plus.google.com/" target="_blank" title="Google+">
          <img class="socialIcon" src="https://app.userengage.io/media/uploads/1125/googleplus-2x.png">
        </item>
        <item href="https://www.pinterest.com/" target="_blank" title="Pinterest">
          <img class="socialIcon" src="https://app.userengage.io/media/uploads/1125/pinterest-2x.png">
        </item>
        <item href="https://instagram.com/" target="_blank" title="Instagram">
          <img class="socialIcon" src="https://app.userengage.io/media/uploads/1125/instagram-2x.png">
        </item>
      </menu>
    </columns>
    <columns small="3" large="3">
    <th class="expander"></th>
    </columns>
  </row>
  <row>
    <columns small="12">
      <hr class="customHr dark">
    </columns>
  </row>
</container>

<container class="farmona footer">
  <row>
    <columns small="12">
      <p>Powyższy mail został wysłany na zlecenie Nadawcy przy użyciu Platformy <a href="https://userengage.io/" style="color:#0054a6;text-decoration: underline;" target="_blank">UserEngage</a> do bazy adresów e-mail dostarczonej przez Nadawcę. Jeżeli chcą Państwo wypisać się z listy mailingowej Nadawcy prosimy kliknąć <a id="UE_unsubscribe" href="#" style="color:#0054a6;text-decoration: underline;" target="_blank">tutaj</a> a nastąpi automatyczne wyrejestrowanie. Jeżeli uważają Państwo, iż nastąpiło nadużycie prosimy o kontakt z Nadawcą.</p>
    </columns>
  </row>
</container>
